<div class="row">
  <div class="col-sm-2" *ngFor="let photo of photos">
    <img src="{{photo.url}}" class="img-thumbnail p-1" alt="">
    <div class="text-center">
      <button type="button" class="btn btn-sm" (click)="setMainPhoto(photo)"
        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-secondary'"
        [disabled]="photo.isMain">Main</button>
      <button type="button" class="btn btn-sm btn-danger ml-2"
        (click)="deletePhoto(photo.id)"
        [disabled]="photo.isMain"><i class="fa fa-trash-o"></i></button>
    </div>
  </div>
</div>

<style>
  .my-drop-zone { border: dotted 3px lightgray; }
  .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
  .another-file-over-class { border: dotted 3px green; }

  html, body { height: 100%; }
</style>

<div class="container mt-3">
    <table class="table">
        <thead><h3>Add Photos</h3></thead>
            <td>
            <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="card bg-faded p-4 text-center mb-2 my-drop-zone">
               <i class="fa fa-upload fa-2x"></i>
               Drop Photos Here
            </div>
            </td>
            <td>
                <tr><div>Multiple<input type="file" ng2FileSelect [uploader]="uploader" multiple class="ml-4 mb-4 mt-2" /></div></tr>
                <tr><div>Single<input type="file" ng2FileSelect [uploader]="uploader" class="ml-5 mb-1" /></div></tr>
            </td>
    </table>
    <div class="col-md-15" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">
        <h3>Upload queue</h3>
        <p>Queue length: {{ uploader?.queue?.length }}</p>
        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th width="50%">Size</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td nowrap>
                        <button type="button" class="btn btn-sm btn-danger ml-2"
                            (click)="item.remove()">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <div style="margin-bottom: 5px">
                Queue progress:
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s mr-1"
                (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s mr-1"
                (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s"
                (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove all
            </button>
        </div>
    </div>
</div>